body {
  position: relative;
  min-height: 98vh;
  text-align: center;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  background: #f2f2f2;
  }

#root {
	padding-bottom: 20px;  /* Footer height */
}

.dark-mode {
  background: #404040;
  color: #b3b3b3;
}
 
.dark-mode-toggle button{
	background: none;
	border: none;
}

.dark-mode-toggle .sun{
	color: #ffd11a;
}

.dark-mode-toggle .moon{
	color: #33adff;
}

.toggle-control {
  position: relative;
  padding: 0;
}

input[type='checkbox'].dmcheck {
  width: 30px;
  height: 10px;
  background: #808080;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked + label {
    left: 20px;
  }

  &:focus-visible {
    outline: solid 2px white;
  }

  & + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: lightgray;
  }
}

header{
	font-size: 35px;
	color: #0077b3;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}

.bookshelf-link {
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	color: #0077b3;
	margin-top: 20px;
	position: absolute;
	right: 20%;
	top: 0px;
	cursor: pointer;
}

h2 {
	color: #0077b3;
	margin-top: 30px;
}

.main-link {
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	color: #0077b3;
	margin-top: 20px;
	position: absolute;
	left: 10%;
	top: 0px;
	cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.search-input {
	width: 50%;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.search-btn {
	height: 37px;
}

.error {
	color: red;
	margin-top: 10px;
}

.loading-img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

.book-display {
	display: flex;
	margin-top: 30px;
	margin-bottom: 80px;
	flex-wrap: wrap;
	justify-content: center;
	font-weight: 500;
}

.book-card {
	position: relative;
	width: 390px;
	height: 200px;
	margin: 10px;
	text-align: left;
	background: #ffffff;
	box-shadow: 2px 2px 4px 0 #ccc;
}

.book-img { 
	vertical-align: middle; 
	width: 120px;
    height: 170px;
    margin: 10px;
    box-shadow: 5px 5px 20px #333;
}

.book-info {
	position: absolute;
	top: 0;
	left: 160px;
	width: 200px;
	padding: 5px;
	font-size: 13px;
}

.book-title {
	color: #4d4d4d;
	font-size: 17px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 80px;
	overflow: hidden;
}

.book-author, .book-publisher {
	white-space: nowrap; 
  	overflow: hidden;
  	text-overflow: ellipsis;
  	color: #808080;
}

.book-link {
	position: absolute;
	top: 150px;
	width: 130px;
	height: 35px;
	border-radius: 10px;
}

.book-link:hover{
	background: #00aaff;
}

button {
	background: #0088cc;
	color: #ffffff;
	font-weight: 500;
	cursor: pointer;
}

.back-next-search {
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 500;
	color: #0077b3;
	.next-search {
		position: absolute;
		bottom: 60px;
		right: 10vw;
		text-decoration: underline;
	}
	.back-search {
		position: absolute;
		bottom: 60px;
		left: 10vw;
		text-decoration: underline;
	}
}

.save-book {
	position: absolute;
	top: 5px;
	left: 192px;
	font-size: 25px;
	cursor: pointer;
}

.save-star {
	color: #0077b3;
}

.tooltiptext {
	font-size: 12px;
}
.save-star:hover, .bookshelf-link:hover, .main-link:hover{
	color: #00aaff;
}

.save-book .tooltiptext {
	visibility: hidden;
	background-color: #d9d9d9;
	color: #4d4d4d;
	text-align: center;
 	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	right: -10px;
}

// Bottom Arrow
.save-book .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;  /* At the bottom of the tooltip */
  left: 65%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d9d9d9 transparent transparent transparent ;
}
.save-book:hover .tooltiptext {
	visibility: visible;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
	font-size: 0.8em;
	margin-bottom: 20px;
	text-align: center;
}

footer i {
	color: red;
}
footer a {
	color: #0077b3;
}

@media only screen and (max-width: 820px) {
	.book-card {
		width: 48%;
		height: 27vw;
		margin: 5px
	}
	.book-img { 
		box-shadow: 2px 2px 10px #333;
		width: 17vw;
    	height: 25vw;
	}
	.book-info {
		left: 20vw;
		width: 25vw;
	}
	.book-title {
		font-size: 15px;
		width: 22vw;
		height: 70px;
	}
	.book-link {
		top: 21vw;
		width: 120px;
		height: 30px;
		border-radius: 10px;
	}
	.save-book {
		left: 23vw;
	}
}

@media only screen and (max-width: 580px) {
	.book-card {
		width: 100%;
		height: 55vw;
		margin: 5px
	}
	.book-img { 
		box-shadow: 2px 2px 10px #333;
		width: 35vw;
    	height: 50vw;
	}
	.book-info {
		left: 41vw;
		width: 50vw;
	}
	.book-title {
		font-size: 15px;
		width: 45vw;
		height: 70px;
	}
	.book-link {
		top: 42vw;
		width: 120px;
		height: 30px;
		border-radius: 10px;
	}
	.save-book {
		left: 47vw;
	}
	.bookshelf-link {
		margin-top: 0px;
		right: 20px;
		top: 10px;
		font-size: 16px;
	}
	.main-link {
		top: -10px;
		left: 15px;
		font-size: 16px;
	}
}

