body {
  text-align: center;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  background: #f2f2f2;
}

header{
	font-size: 35px;
	color: #0077b3;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}

.bookshelf-link {
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	color: #0077b3;
	margin-top: 20px;
	position: absolute;
	right: 20%;
	top: 0px;
	cursor: pointer;
}

h2 {
	color: #0077b3;
	margin-top: 50px;
}

.main-link {
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	color: #0077b3;
	margin-top: 20px;
	position: absolute;
	left: 10%;
	top: 0px;
	cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.search-input {
	width: 50%;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.search-btn {
	height: 37px;
}

.error {
	color: red;
	margin-top: 10px;
}

.loading-img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

.book-display {
	display: flex;
	margin-top: 30px;
	margin-bottom: 50px;
	flex-wrap: wrap;
	justify-content: center;
	font-weight: 500;
}

.book-card {
	position: relative;
	width: 390px;
	height: 200px;
	margin: 10px;
	text-align: left;
	background: #ffffff;
	box-shadow: 2px 2px 4px 0 #ccc;
}

.book-img { 
	vertical-align: middle; 
	width: 120px;
    height: 170px;
    margin: 10px;
    box-shadow: 5px 5px 20px #333;
}

.book-info {
	position: absolute;
	top: 0;
	left: 160px;
	width: 200px;
	padding: 5px;
	font-size: 13px;
}

.book-title {
	font-size: 17px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 80px;
	overflow: hidden;
}

.book-author, .book-publisher {
	white-space: nowrap; 
  	overflow: hidden;
  	text-overflow: ellipsis;
  	color: #808080;
}

.book-link {
	position: absolute;
	top: 150px;
	width: 130px;
	height: 35px;
	border-radius: 10px;
}

.book-link:hover{
	background: #00aaff;
}

button {
	background: #0088cc;
	color: #ffffff;
	font-weight: 500;
	cursor: pointer;
}

.save-book {
	position: absolute;
	top: 5px;
	left: 355px;
	font-size: 25px;
	cursor: pointer;
}

.save-star {
	color: #0077b3;
}

.save-star:hover, .bookshelf-link:hover, .main-link:hover{
	color: #00aaff;
}
