body {
  text-align: center;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  background: #f2f2f2;
}

header{
	font-size: 35px;
	color: #0077b3;
	margin: 20px;
	font-family: 'Montserrat', sans-serif;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.search-input {
	width: 50%;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.search-btn {
	height: 37px;
}

.book-display {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
	justify-content: center;
	font-weight: 500;
}

.book-card {
	position: relative;
	width: 380px;
	height: 200px;
	margin: 10px;
	text-align: left;
	background: #ffffff;
	box-shadow: 2px 2px 4px 0 #ccc;
}

.book-img {
	position: absolute;
	width: 140px;
    height: 200px;
}

.book-info {
	position: absolute;
	left: 150px;
	width: 210px;
	padding: 5px;
	font-size: 13px;
}

.book-title {
	font-size: 17px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 80px;
	overflow: hidden;
}

.book-author, .book-publisher {
	white-space: nowrap; 
  	overflow: hidden;
  	text-overflow: ellipsis;
  	color: #808080;
}

.book-link {
	position: absolute;
	top: 150px;
	width: 130px;
	height: 35px;
	border-radius: 10px;
}

button {
	background: #0088cc;
	color: #ffffff;
	font-weight: 500;
	cursor: pointer;
}

